%btn-base {
  @include inline-flexbox;
  padding: 0 8px;
  font-weight: 700;
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

// NOTE: button sytles
.btn-primary {
  @extend %btn-base;
  color: $white;
  background-color: $primary300;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $primary500;
  }
}

.btn-secondary {
  @extend %btn-base;
  color: $gray500;
  background-color: $gray200;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $gray300;
  }
}

.btn-outlined {
  @extend %btn-base;
  color: $primary300;
  background-color: $white;
  border: 1px solid $primary300;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $primary100;
  }
}

.btn-ghost {
  @extend %btn-base;
  color: $gray500;
  background-color: transparent;
  transition: color 200ms ease-in-out;

  &:not(:disabled):hover {
    color: $gray400;
  }
}

//NOTE: button-size
.btn-32 {
  @include text-style(14);
  height: 32px;
}
.btn-40 {
  @include text-style(16);
  height: 40px;
}
.btn-48 {
  @include text-style(16);
  height: 48px;
}
.btn-55 {
  @include text-style(18);
  height: 55px;
}
