$black: #000;
$gray600: #191a20;
$gray500: #3f4150;
$gray400: #8c8d96; //secondary
$gray300: #b2b3b9;
$gray200: #e0e2e7; //border
$gray100: #f7f8fa;
$white: #fff;

$primary300: #3da5f5;
$primary500: #3186c4;
$primary100: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
